<div class="text-center">
    <h1 class="fw-bold mb-3">Welcome to TaskFlow</h1>
    <p class="text-muted mb-4">
        Simple and secure task management application.
    </p>

    <a asp-controller="Task" asp-action="MyTasks"
       class="btn btn-primary btn-lg">
        Go to My Tasks
    </a>
</div>
